.heading {
  font-family: Impact;
  color: #000080;
  border: 1px solid black;
  text-align: center;
  background: grey;
}

#name {
  font-size: 65px;
  font-family: "Trebuchet MS";
  text-align: center;
  background: grey;
}

h1 {
  font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
}

h4 {
  font-family: Helvetica;
}

ul {
  font-family: Helvetica;
}

a {
  color: black;
  text-decoration: none;
}
