.heading {
  font-family: Helvetica;
  color: #BEC3C6;
  border: 5px solid #ED4337;
  text-align: center;
  background: #3B3B40;
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.employment {
  font-family: Helvetica;
  color: #BEC3C6;
  border-top: 0px solid #BEC3C6
  border-bottom: 1px solid #BEC3C6;
  border-left: 1px solid #BEC3C6;
  border-right: 1px solid #BEC3C6;
  background: #3A3A4A;
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.employment a {
  color: #BEC3C6;
  text-decoration: none;
}

.education {
  font-family: Helvetica;
  color: #BEC3C6;
  border: 1px solid #BEC3C6;
  background: #3A3A4A;
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
  

.skills {
  font-family: Helvetica;
  color: #BEC3C6;
  border: 1px solid #BEC3C6;
  background: #3A3A4A;
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
  
#name {
  font-size: 65px;
  font-family: "Trebuchet MS";
  text-align: center; 
}
