.heading {
  font-family: Helvetica;
  color: #000080;
  border: 1px solid black;
  text-align: center;
  background: #BEC3C6;
}

.employment {
  font-family: Helvetica;
  color:#000080
  border: 1px solid black;
  background: #C0D890
}
  
#name {
  font-size: 65px;
  font-family: "Trebuchet MS";
  text-align: center;
  background: #BEC3C6;
}

h1 {
  font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
}

h4 {
  font-family: Helvetica;
}

ul {
  font-family: Helvetica;
}

a {
  color: black;
  text-decoration: none;
}
